---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1><a href="/about">{{ site.title }}</a></h1>
        <h3>A College Student. Major in Computer Science, and minor in Economics</h3>
        <div id="jumbotron-meta-info">
            {% if site.location %}
            <span class="meta-info">
                <span class="octicon octicon-location"></span>
                {{ site.location }}
            </span> {% endif %}
            {% if site.company %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span> {% endif %}
            {% if site.github_username %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">@{{ site.github_username }}</a>
            </span> {% endif %}
            {% if site.facebook_username %}
            <span class="meta-info hvr-grow">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-facebook-f"></span>
                <a href="{{ site.facebook_url }}" target="_blank">@{{ site.facebook_username }}</a>
            </span> {% endif %}
            {% if site.linkedin_username %}
            <span class="meta-info hvr-grow">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-linkedin-square"></span>
                <a href="{{ site.linkedin_url }}" target="_blank">@{{ site.linkedin_username }}</a>
            </span> {% endif %}
        </div>
    </div>
</section>
<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">

            <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                </li>
                {% endfor %}
            </ol>
 
            <!-- Pagination -->
            {% include pagination.html %}

            <!-- Comments -->
            {% include disqus-comments.html %}

        </div>

        <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>

    </div>

</section>

