<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p> <img src="../assets/images/Hongyou_Lin_profile.JPG" alt="My profile" width="360" height="240" align="left" style="margin: 0px 20px"/>
            I am currently (2019/11/02) a senior student at Haverford College majoring in Physics. 
            I am also an admitted candidate for the Electrical & Systems Engineering Master Program at Penn.

            
            
        </p>
        <br clear="left"/>
        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>Courses taken so far</h2>
        
        {% if site.courses_taken_so_far %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Courses Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.courses_taken_so_far %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming Language Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_lab_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Laboratory Skill Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_lab_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_languages %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Human Language Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_languages %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>